.sectionContainer {
  height: calc(100vh);
  background-image:
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 31.73%,
      rgba(0, 0, 0, 0) 85.31%,
      rgba(0, 0, 0, 0) 98.75%
    ),
    url('../../assets/landing-bg.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-top: 200px;
  width: 70%;
  max-width: 700px;
}

.button {
  margin-bottom: 120px;
  width: 80%;
  max-width: 360px;
  padding: 8px 25px;
  color: white;
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid white;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.08);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(4px);
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.2);

  &:hover {
    cursor: pointer;
    border: 2px solid white;
  }
}

@media (min-width: 768px) {
}
