.sectionContainer {
  padding: 80px 0 90px 0;

  .innerContainer {
    h1 {
      font-family: var(--font-secondary);
      font-weight: 600;
      font-size: 40px;
      line-height: 120%;
      text-transform: uppercase;
      color: #4e8c6a;
      margin: 0 30px;
      text-align: start;
    }
  }
}

.desktop {
  display: none;
}
.mobile {
  margin-top: 50px;
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 16px;
  line-height: 158%;
  text-align: center;
  text-transform: uppercase;

  .row1,
  .row2,
  .row3,
  .row4 {
    height: 110px;
    display: flex;

    div {
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .row1 {
    .box1 {
      background: #e4ddd3;
      border-radius: 0 30px 30px 0;
      color: #123234;
      width: 50%;
    }

    .box2 {
      background: #4e8c6a;
      width: 40%;
    }

    .box3 {
      background: #9bc19d;
      width: 10%;
      border-radius: 30px 0 0 30px;
    }
  }

  .row2 {
    .box1 {
      background: #e4ddd3;
      width: 5%;
      border-radius: 0 30px 30px 0;
    }

    .box2 {
      background: #9bc19d;
      color: #123234;
      width: 75%;
    }

    .box3 {
      background: #e4ddd3;
      width: 20%;
      border-radius: 30px 0 0 30px;
    }
  }

  .row3 {
    .box1 {
      background: #4e8c6a;
      width: 60%;
      border-radius: 0 30px 30px 0;
    }

    .box2 {
      background: #9bc19d;
      color: #123234;
      width: 40%;
      border-radius: 30px 0 0 30px;
    }
  }
  .row4 {
    .box1 {
      background: #9bc19d;
      width: 5%;
      border-radius: 0 30px 30px 0;
    }

    .box2 {
      background: #e4ddd3;
      color: #123234;
      width: 95%;
      border-radius: 30px 0 0 30px;
    }
  }
}

@media (min-width: 768px) {
  .sectionContainer {
    display: flex;
    justify-content: center;
    overflow: hidden;

    .innerContainer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }

  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 16px;
    line-height: 158%;
    text-align: center;
    text-transform: uppercase;

    .row1,
    .row2 {
      height: 110px;
      display: flex;
      position: relative;
      width: 100%;
      div {
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        height: 100%;
      }
    }

    .row1 {
      .box1 {
        background: #4e8c6a;
        width: 1580px;
      }
      .box2 {
        background: #e4ddd3;
        color: #123234;
        display: flex;
        width: 270px;
      }
      .box3 {
        background: #4e8c6a;
        color: white;
        width: 150px;
      }
      .box4 {
        background: #4e8c6a;
        color: white;
        width: 220px;
      }
      .box5 {
        background: #9bc19d;
        width: 1450px;
      }
    }
    .row2 {
      .box1 {
        width: 1550px;
        background: #9bc19d;
      }
      .box2 {
        background: #4e8c6a;
        width: 200px;
        color: white;
      }
      .box3 {
        background: #9bc19d;
        color: #123234;
        width: 240px;
      }
      .box4 {
        background: #e4ddd3;
        color: #123234;
        width: 300px;
      }
      .box5 {
        width: 1500px;
        background: #4e8c6a;
      }
    }
  }
}

@media (min-width: 1024px) {
  .desktop {
    .row1 {
      .box1 {
        width: 1500px;
      }
      .box2 {
        width: 450px;
      }
      .box3 {
        width: 220px;
      }
      .box4 {
        width: 280px;
      }
      .box5 {
        width: 1500px;
      }
    }
    .row2 {
      .box1 {
        width: 1550px;
      }
      .box2 {
        width: 250px;
      }
      .box3 {
        width: 400px;
      }
      .box4 {
        width: 360px;
      }
      .box5 {
        width: 1500px;
      }
    }
  }
}
