.nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  background: var(--green-salad);
  color: var(--color-text);
  height: 110px;
  border-radius: 0 0 15px 15px;
  width: 100%;

}

.nav__inner {
  max-width: var(--container-max);
  display: flex;
  align-items: center;
  gap: var(--space-4);
  width: 100%;
  justify-content: space-between;
  height: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.nav__brand {
  font-weight: 700;
  font-size: 1.125rem;
  color: inherit;
  text-decoration: none;
}

/* Burger */
.nav__burger {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: transparent;
  color: var(--green-darker);
  position: relative;
  width: 46px;
  height: 32px; /* enough height to position lines */
  padding: 0; /* remove any default */
  gap: 0; /* we will absolutely position lines */
  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.nav__burger-line {
  display: block;
  width: 46px;
  height: 5px;
  background: currentColor;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: center;
  transition: transform 0.3s ease, opacity 0.25s ease, top 0.3s ease, bottom 0.3s ease;
}

.nav__burger-line:nth-child(1) { top: 0; }
.nav__burger-line:nth-child(2) { top: calc(50% - 2.5px); }
.nav__burger-line:nth-child(3) { top: auto; bottom: 0; }

/* Transform to X when open */
.nav.nav--open .nav__burger-line:nth-child(1) {
  top: calc(50% - 2.5px);
  transform: rotate(45deg);
}
.nav.nav--open .nav__burger-line:nth-child(2) {
  opacity: 0;
}
.nav.nav--open .nav__burger-line:nth-child(3) {
  bottom: auto;
  top: calc(50% - 2.5px);
  transform: rotate(-45deg);
}

/* Menu */
.nav__menu {
  list-style: none;
  margin: 0;
  display: none; /* hidden by default on mobile */
  flex-direction: column;
  position: absolute;
  top: 80%; /* below header */
  right: 50px;
  background: var(--cream);
  border-radius: 15px;
  padding: 18px;

  li {
    padding: 10px 0;
    width: 190px;
    border-bottom: 1px solid var(--green-ligher);
    display: flex;
    a{
      &:hover {
        color: var(--green-darker);
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.nav--open .nav__menu {
  display: flex;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  border-radius: var(--radius-1);
  color: var(--green-darker);
  font-family: var(--font-base), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
}

/* Overlay to close when clicking outside */
.nav__overlay {
  position: fixed;
  inset: 0;
  background: var(--overlay);
}

@media (min-width: 768px) {
  .nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
  }
  .nav__inner{
    max-width: 1100px;
    padding:0;
    margin: 0 20px;
  }

  .nav__burger {
    display: none;
  }

  .nav__menu {
    position: static;
    display: flex; /* always visible */
    flex-direction: row;
    align-items: center;
    background: transparent;
    border-top: none;
    padding: 0;
    gap:40px;

    li {
      display: flex;
      border: none;
      padding: 0;
      width: unset;
      gap:20px;
    }
  }
}
