.sectionContainer {
  margin: 80px 30px 60px 30px;
  display: flex;
  flex-direction: column;

  .headerSection {
    h1 {
      font-family: var(--font-secondary);
      font-weight: 600;
      font-size: 40px;
      line-height: 100%;
      text-transform: uppercase;
      color: var(--green-salad);
      margin: 0;
      margin-bottom: 24px;
      text-align: start;
    }

    p {
      font-family: var(--font-secondary);
      font-weight: 700;
      font-size: 16px;
      line-height: 158%;
      text-transform: uppercase;
      text-align: start;
      margin: 0;
      margin-bottom: 30px;
    }
  }

  .potatoImage {
    width: 100%;
    border-radius: 30px;
  }

  .bulletPoints {
    margin-top: 20px;

    p {
      font-family: var(--font-base);
      font-weight: 400;
      font-size: 16px;
      line-height: 158%;
      text-align: start;

      strong {
        font-family: var(--font-base);
        font-weight: 700;
        font-size: 16px;
        line-height: 158%;
        color: var(--green-salad);
      }

      &:last-child {
        margin-top: 30px;
      }
    }
  }
}

@media (min-width: 768px) {
  .sectionContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    align-items: start;
    max-width: var(--container-max);
    justify-self: center;
    margin: 120px 30px;

    .potatoImage {
      grid-column: 1;
      grid-row: 1 / span 2;
      width: 100%;
      height: 100%;
      max-height: 800px;
      object-fit: cover;
    }

    .headerSection {
      grid-column: 2;
      grid-row: 1;

      h1 {
        margin-bottom: 75px;
      }
    }

    .bulletPoints {
      margin-top: 0;
      grid-column: 2;
      grid-row: 2;
    }
  }
}
